@media screen and (min-width: 767px) {
  body{
    background: #3D2D84;
  }
  .seeable{
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  color: white;
  -webkit-text-stroke: 2px;
  font-size: 7vw;
  margin-top: 10%;
  margin-left: 16%;
  animation-name: happy;
  animation-iteration-count: inherit;
  animation-duration: 1s;
}
.btn1{
  display: none;
}
.btn2{
  display: none;

}
.video{
  display: none;
}
.sender{
  display: none;
}
.happy{
  display: none;
}
.postcard{
  display: none;
}
}

@media screen and (max-width: 767px) {
  .fullcontainer{
  width: 100%;
  height: 100vh;
  background: linear-gradient(45deg, #33B1FF, #063f63);
}
*{
  margin: 0;
  padding: 0;

}
.none{
  display: none;
}
.sender{
  padding: 10px;
  color: white;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  font-size: 3vw;
  -webkit-text-stroke: 1px;
  animation-name: video;
  animation-iteration-count: inherit;
  animation-duration: 1s;
}

.video{
  width: 90%;
  height: auto;
  margin-left: 4%;
  margin-top: 4%;
  border-radius: 40px;
  animation-name: video;
  animation-iteration-count: inherit;
  animation-duration: 1s;
  box-shadow: 0px 5px 35px white;
}
@keyframes video {
  0%{
    margin-left: -70%;
  }
}
.happy{
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  color: white;
  -webkit-text-stroke: 2px;
  font-size: 7vw;
  margin-top: 10%;
  margin-left: 16%;
  animation-name: happy;
  animation-iteration-count: inherit;
  animation-duration: 1s;
}
@keyframes happy {
  0%{
    margin-left: 110%;
  }}
.btn1{
  padding: 30px;
  font-size: 20px;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  width: 80%;
  margin: 8%;
  border-radius: 30px;
  background: linear-gradient(45deg, #3D2D84, #5d3df0);
  color: white;
  border: none;
  font-weight: bold;
  animation-name: btn1;
  animation-iteration-count: inherit;
  animation-duration: 1s;
}
@keyframes btn1 {
  0%{
    transform: scale(0);
  }}

/*second container*/
.postcard{
  width: 98%;
  height: auto 40vh;
  margin-left: 1%;
  margin-top: 25%;
  animation-name: poster;
  animation-iteration-count: inherit;
  animation-duration: 1.5s;
  
}
@keyframes poster {
  0%{
    transform: translateY(-160%);
  
  }
}
.btn2{
  padding: 30px;
  font-size: 20px;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  width: 80%;
  margin: 8%;
  border-radius: 30px;
  background: linear-gradient(45deg, #3D2D84, #5d3df0);
  color: white;
  border: none;
  font-weight: bold;
  animation-name: secondbtn;
  animation-iteration-count: inherit;
  animation-duration: 1.5s;
}
@keyframes secondbtn {
  0%{
    transform: translateY(260%);
  
  }
}
.seeable{
  display: none;
}
}